.social-login
    button.social-login-github
        a(href=routes.github)
            span
                i.fab.fa-github
            |github login
    button.social-login-kakao
        a(href=routes.kakao)
            span
                i.fas.fa-comment
            |kakao login