.social-login
    button.social-login-github
        a(href=routes.github)
            span
                i.fab.fa-github
            |github login
    button.social-login-facebook
        span
            i.fab.fa-facebook
        |facebook login