extends layouts/main

block content
    .form-container
        form(action=routes.editProfile, method="post")
            label(for="userImage") Picture
            input(type="file", id="userImage" name ="userImage")
            input(type="text" name="name" placeholder="Full name")
            input(type="email" name="email" placeholder="Email")
            input(type="submit" value="Update")
        a.form-container__link(href=`/user${routes.changePassword}`) Change Password