extends layouts/main

block content
    .form-container
        form(action=routes.editVideo, method="post")
            input(type="text" name="title" placeholder="Title")
            textarea(cols="10" rows="4" name="description" placeholder="Description")
            input(type="submit" value="Update")
        a.form-container__link(href=`/video${routes.deleteVideo}`) Delete Video